* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    background-color: white;
    position: fixed;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown a:hover {
    color: orangered;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: orangered;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.hero h1 {
    width: 100%;
    height: 110px;
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(34, 34, 34);
    font-size: 60px;
    margin-top: 24.5%;
}

.hero-bt {
    display: flex;
    background-color: rgb(248, 245, 245);
    width: 100%;
    height: 70px;
    align-items: center;
}

.hero-bt button {
    width: 95px;
    height: 70px;
    border: none;
    background-color: rgb(248, 245, 245);
}

.hero-bt .bt1,
.bt3,
button:hover {
    background-color: orangered;
    color: #fff;
}

.hero-bt .bt1 {
    margin-left: 40%;
}

.hero-bt .bt2 {
    margin-left: 0;
}

.hero-bt .bt3 {
    margin-left: 0;
}

.features {
    display: flex;
    padding: 3%;
    margin: 2%;
}

.features .para {
    width: 50%;
}

.para p {
    font-size: 20px;
    font-weight: 400;
}

.para li {
    font-size: 19px;
}

.features .p-img {
    width: 50%;
    margin-top: 7%;
    margin-left: 9%;
}

.features li::marker {
    color: orangered;
}

.opt li::marker {
    color: orangered;
}

.down {
    width: 100%;
    height: 220px;
    text-align: center;
    background-color: rgb(238, 234, 234);
}

.st-btn {
    width: 35%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: orangered;
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    margin-left: 60px;
}

.st-btn:hover {
    background-color: #fff;
    color: orangered;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 2%;
}

.card {
    padding: 2%;
}

.card button {
    width: 30%;
    border-radius: 10px;
    background-color: orangered;
    font-weight: 500;
}

.card button:hover {
    background-color: #fff;
    color: #ff5100;
}

.card img {
    transition: transform .5s ease;
}

.card img:hover {
    transform: scale(1.5);
    opacity: 0.4;
    background: #ff5100;
}

.card .img-container {
    height: 300px;
    overflow: hidden;
}

.card .p1 {
    font-size: 30px;
    font-weight: 400;
}

.card .p2 {
    font-size: 18px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 4%;
    background-color: rgb(239, 238, 238);
}

.links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
}

.link1 {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.link1:hover {
    color: #ff5100;
}

.icons {
    color: #ff5100;
}

/* Product drop-down */

.drop {
    display: none;
    position: fixed;
    top: 68px;
    overflow-y: hidden;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f1f1f1;
    width: 50vw;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow-y: auto;
    z-index: 1000;
}


li:hover .drop {
    display: block;
    height: 60vh;
    width: 100%;
}

.drop ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.drop ul li {
    padding: 10px 10px;
}

.drop img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.col {
    text-align: center;
}

.col p {
    margin: 0;
}

.col-img {
    text-align: center;
    padding: 85px;
}

.col-img img {
    max-width: 400px;
    max-height: 200px;
    display: block;
    margin: 0 auto;
}

a.style {
    color: black;
    text-decoration: none;
}

a.style:hover {
    color: orangered;
    border-bottom-color: black;
}

li.style {
    color: black;
    text-decoration: none;
    display: inline;
    padding: 0 5px;
}

li.style a:hover {
    color: orangered;
}

/* company dropdown  */

ul li:hover .dropdown-content1{
    display: block;
    position: absolute;
    min-width: 160px;
    background-color: #f1f1f1;
    margin-left: 10px;
    margin-top: 0;
    z-index: 1;
}

.dropdown-content1{
    display: none;
}

.dropdown-content1 ul li{
    display: block;
}

.dropdown-content1 ul{
    margin: 0;
    padding: 0;
}

.dropdown a:hover {
    color: orangered;
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content1 a:hover {
    color: orangered;
}

.dropdown:hover .dropdown-content1 {
    display: block;
}


.dropdown-content1 ul .dropdown1:hover{
    display: none;
}

.dropdown1{
    position: absolute;
    margin-left: 4cm;
    margin-top: -1.3cm;
    width: 200px;
    background-color: #f1f1f1;
}

.dropdown1{
    display: none;
}

.dropdown-content1:hover .dropdown1{
    display: block;
}

/* dropdown2 */

.dropdown2{
    position: absolute;
    margin-left: 4cm;
    margin-top: -1.2cm;
    width: 200px;
    background-color: #f1f1f1;
}

.dropdown2{
    display: none;
}

.dropdown-content1:hover .dropdown2{
    display: block;
}

/* dropdown3 */

.dropdown3{
    position: absolute;
    margin-left: 4cm;
    margin-top: -1.3cm;
    width: 200px;
    background-color: #f1f1f1;
}

.dropdown3{
    display: none;
}

.dropdown-content1:hover .dropdown3{
    display: block;
}