* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropd {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown a:hover {
    color: orangered;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: orangered;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.slider {
    height: 700px;
}

.btn1 {
    width: 10%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: #fff;
}

.img1 {
    position: absolute;
}

.content {
    position: relative;
    color: white;
    padding-top: 20%;
    padding-left: 5%;
    padding-bottom: 5%;
}


.threebox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 2%;
}


.box-img {
    height: 300px;
    overflow: hidden;
}

.box-img img {
    transition: transform .5s ease;
}

.box-img:hover img {
    transform: scale(1.5);
    opacity: 0.4;
    background: #ff5100;
}

.p1 {
    font-size: 30px;
    font-weight: 400;
}

.p2 {
    font-size: 18px;
}

.p3 {
    color: #ff5100;
    font-weight: 500;
    font-size: 20px;
}

.p4 {
    font-size: 20px;
}


.leadership {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 2%;
}

.custom,
.event {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4%;
    gap: 50px;
}

.slider1 {
    width: 100%;
    padding: 2%;
    background-color: lightgray;
}

.logo-carousel {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow-x: auto;
    scrollbar-width: none;
    gap: 9%;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 2%;
}

.card img {
    transition: transform .5s ease;
}

.card img:hover {
    transform: scale(1.5);
    opacity: 0.4;
    background: #ff5100;
}

.card .img-container {
    height: 300px;
    overflow: hidden;
}

.card {
    padding: 2%;
}

.card button {
    width: 30%;
    border-radius: 10px;
    background-color: orangered;
    font-weight: 500;
}

.card button:hover {
    background-color: #fff;
    color: #ff5100;
}

.slider-container {
    position: relative;
    width: 100%;
    /* max-width: 800px; */
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;
    height: 550px;
    background-size: cover;
    background-position: center;
}

.slide:nth-child(1) {
    background-image: url('images/hero.jpg');
}

.slide:nth-child(2) {
    background-image: url('images/hero\ -\ Copy.jpg');
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
    z-index: 1;
}

.prev {
    left: 3px;
}

.next {
    right: 3px;
}

.slide button {
    font-weight: 700;
    transition: all ease-in-out 0.3s;
}

.hero .bt {
    height: 40px;
    width: 10%;
    color: #fff;
    background-color: orangered;
    margin-left: 5%;
    border: none;
    border-radius: 10px;
}

.hero .bt:hover {
    background-color: #fff;
    color: orangered;
}


.footer {
    background-color: rgb(239, 238, 238);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 4%;
}

.links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
}

.link1 {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.link1:hover {
    color: #ff5100;
}

.icons {
    color: #ff5100;
}

/* Product drop-down */

.drop {
    display: none;
    position: fixed;
    top: 68px;
    overflow-y: hidden;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f1f1f1;
    width: 50vw;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow-y: auto;
    z-index: 1000;
}


li:hover .drop {
    display: block;
    height: 60vh;
    width: 100%;
}

.drop ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.drop ul li {
    padding: 10px 10px;
}

.drop img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.col {
    text-align: center;
}

.col p {
    margin: 0;
}

.col-img {
    text-align: center;
    padding: 85px;
}

.col-img img {
    max-width: 400px;
    max-height: 200px;
    display: block;
    margin: 0 auto;
}

a.style {
    color: black;
    text-decoration: none;
}

a.style:hover {
    color: orangered;
    border-bottom-color: black;
}

li.style {
    color: black;
    text-decoration: none;
    display: inline;
    padding: 0 5px;
}

li.style a:hover {
    color: orangered;
}